
.logo_container {
	position: relative;
	display: block;
	text-align: center;
	top: -90px;
}

.desk_description {
	margin-top: -80px;
	padding-bottom: 10px;
	h1 {
		text-align: center;
		font-size: 16px;
		color: #11b983;
		margin-top: 0px;
		font-family: helvetica;
		text-transform: uppercase;
	}
	.desk-feature {
		padding: 0 10px !important;
		margin-right: 10px;

	}
	.fa-users {
		color: #11b983;
		font-size: 20px;
	}
	.fa-phone {
		color: #11b983;
		font-size: 20px;

	}
	.fa-envelope-open {
		color: #11b983;
		font-size: 20px;

	}
}


#text_size {
	font-size: 12px;
}
.background {
	h1 {
		font-size: 28px;
		font-family: helvetica;
		text-align: left;
		font-weight: bold;
	}
	p {
		font-size: 14px;
		font-family: helvetica;
		margin-right: 100px;
		margin-top: 30px;
	}
}

.wrapper{
	height: 900px;
}
.card_2 {
	border:2px solid #e4e4e4;
	width: 100%;
	padding-left: 15px;
	padding-right:15px;
	background: white;
	height: 300px; 	
	h1 	{text-align: left;
		font-size: 16px;
		color: #rgba(0,0,0,0.2);
		margin-bottom: -7px;
		font-family: helvetica;
		margin-bottom: 2px;
	}
	.fa-star {
		color: #11b983;
		font-size: 10px;
		margin-top: -10px;
	}

	p {
		font-size: 12px;
	}
}

.top {
	width:100%;
	border-bottom: 1px solid #DBDBDB;  
	margin-bottom: 10px;
}

.dates{
	display: flex; 
	border-radius: 2px; 
	width: 100%;
	box-sizing: border-box;
	margin-top: -65px; 
	b {
		font-family: helvetica;
		font-size:14px;
	}
}

.check_in{
	font-size: 17px; 
	line-height: 24px; 
	display: flex;
	vertical-align: middle;
	margin-right: -10px;
	input {
		width:100%;
	}
}	

.check_out{
	margin-left: -10px;
	font-size: 17px; 
	line-height: 24px; 
	display: flex;
	vertical-align: middle;
	input {
		width:100%;
	}
}

.align-center{
	text-align: center;
}

.btn-used{
	color: white;
	padding: 10px 15px;
	border-radius: 4px;
	font-weight: bold;
	background: #6AD58B;
	transition: background 0.3s ease;
	text-align: center;
	position: absolute;
	margin-left: -68px;
	margin-top: 15px;
}

.image_right {
	margin-left: 0px;
	margin-top: 20px;
	margin-bottom: 30px;
}


.image_left {
	margin-left: -45px;
	margin-top: 20px;
	margin-bottom: 30px;
}