<div class="banner mybanner" style="background: url('<%= cl_image_path('background') %>')">
  <div class="banner-content">

    <h1>Find your Desk</h1>
    <p>Get a place to work anywhere, any time.</p>
    <%= simple_form_for :submit, url: desks_path, class: 'home-form', :method => :get do |f| %>
      <%= f.input :address, class: "searchbox", type: "text", placeholder: "Where?", required: true, label: false %>
      <i class= "fas fa-search"></i>
      <%= f.button :submit, class: "searchbutton", type: "button", value: "search" %>
    <% end %>
  </div>
</div>


