<div class="banner mybanner" style="background: url('<%= cl_image_path('background') %>')">
  <div class="banner-content">
    <h1>Find a Desk</h1>
    <p>Get a place to work anywhere, any time.</p>
    <%= link_to "All Desks", desks_path, class: "btn-treehouse btn-lg" %>
  </div>
</div>


