.mybanner {
  background: white;
}

.banner {
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner_show {
  text-align: center;
  height: 40vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_show h2 {
  font-size: 50px;
  font-weight: 600;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color:white;  
}

.banner_show p {
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color:white;  
}


.home-form {
  width: 500px;

}

form {
  margin: 60px auto;
  position: relative;
  .fa-search {
    position: absolute;
    right: 86px;
    top: 10px;
  }
}

#submit_address {
  width: 500px;
  margin: 60px auto;
  position: relative;
  background-color: transparent;
  width: 350px;
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #11b983;
  border-radius: 5%;
  color: white;
  transition: 300ms;
  box-shadow: none;
  &:focus {
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid yellow;
  }
}

::placeholder {
  color: rgb(212, 216, 215);
}

.searchbutton {
 display:none;
}
