.mybanner {
  background: white;
  opacity: 0.87;
}

.banner {
  text-align: center;
  height: 93vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  // font-weight: bold;
  color: white;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.88;
  margin-bottom: 30px;
}

.banner_show {
  text-align: center;
  height: 40vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_show h2 {
  font-size: 50px;
  font-weight: 600;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color:white;
}

.banner_show p {
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color:white;
}


.home-form {
  width: 500px;

}

form {
  margin: 60px auto;
  position: relative;
  .fa-search {
    position: absolute;
    right: 86px;
    top: 10px;
    color: white;
  }
}


#submit_address {
  width: 500px;
  margin: 60px auto;
  position: relative;
  background-color: transparent;
  width: 350px;
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #11b983;
  border-radius: 5%;
  color: white;
  transition: 300ms;
  box-shadow: none;
  &:focus {
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid yellow;
  }
}

::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

.searchbutton {
 display:none;
 color: white;
}

.container h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin-top: 25px;
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.container p {
  font-size: 18px;
  text-align: left;
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.container-card {
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
  background:#585959;
  color: #fff;
  overflow: hidden;
  // margin-bottom: 30px;

  top: 0;
  left: 0;
  width: auto;
  // height: 200px;
  text-align: center;
  cursor: pointer;
  transition: 0.6s;
  transform-style: preserve-3d;
  // box-shadow: 0 1px 5px rgba(0,0,0,0.9);
}

.container .fa-comments {
  font-size: 50px;
  margin-left: -210px;
}

.container .fa-lightbulb {
  font-size: 50px;
  margin-left: -232px;
}

.container .fa-history {
  font-size: 50px;
  margin-left: -218px;
}


